/* 样式重置 */
 * {
	  padding: 0;
	  margin: 0;
	  box-sizing: border-box;
 }
 
 input {
	  outline: none;
	 } 
 ul,
 li,
 ol {
  list-style: none;
 }

/* 内容区布局 */
 #app {
  width: 800px;
  height: 900px;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(245, 245, 245);
  padding: 24px 0;
}
/* 头部标题 */
  #app .header {
  font-size: 48px;
 }
 /* 交互区 */
 .content {
	  width: 72%;
	  margin: 0 auto;
	  box-shadow: 0 3px 3px 2px rgba(0, 0, 0, 0.25);
	  position: relative;
 }
/* 输入框左边按钮 */
 .icon-down {
	  width: 23px;
	  height: 18px;
	  position: absolute;
	  font-size: 24px;
	  top: 20px;
	  left: 16px;
	  cursor: pointer;
	  border: 1px solid red;
	  background: #ccc ;
	  background-position: -75px -204px;
 }
  /* 任务输入框 */
 #app .content .todos_add {
	  width: 100%;
	  height: 56px;
	  padding: 16px 56px;
	  font-size: 24px;
	  border: 1px solid transparent;
	 }
/* 任务列表 */
 .content_todoLists {
	  position: relative;
	  z-index: 3;
	 }

 .content_todoList {
	  display: flex;
	  flex-direction: row;
	  border-top: 1px solid #ccc;
	  font-size: 24px;
	  padding: 8px;
	  background-color: white;
	  align-items: center;
	 }
	 /* 任务框左边复选按钮 */
 .checkBox {
	  width: 20px;
	  height: 20px;
	  margin-left: 10px;
	 }
/* 双击编辑列表 */
 .content_todoList_main {
	  flex: 1;
	  text-align: left;
	  margin-left: 16px;
	  font-size: 20px;
	  padding: 6px 0;
	 }
 
 .main_input {
	  position: relative;
	  z-index: 1;
	 }
 /* 任务右边清除按钮 */
 .content_todoList_delete {
	  height:16px;
	  width: 16px;
	  border: 1px solid red;
	  background: #ccc;
	  background-position: -17px -511px;
	  position: absolute;
	  right: 16px;
	  cursor: pointer;
	 }
/* 脚步功能按钮 */
 .show {
	  display: block;
	 }
 .deleted { 
	  text-decoration-line: line-through;
	  color: #bbb;
	 }
 .show:hover {
	  color: rgb(255, 0, 0);
	  font-weight: 700;
	 }

 ::-moz-placeholder {
	  color: rgb(221, 218, 218);
	 }
 ::-webkit-input-placeholder {
	  color: rgb(221, 218, 218);
	 }
 :-ms-input-placeholder {
	  color: rgb(221, 218, 218);
	 }

 .data {
	  display: flex;
	  justify-content: space-between;
	  padding: 8px;
	  font-size: 14px;
	  font-weight: 300;
	  color: rgb(145, 145, 145);
	 }
 
 a {
	  text-decoration: none;
	  color: rgb(145, 145, 145);
	 }
 .data_times {
	  width: 73px;
	 }
.data_clearTodos {
	  width: 142px;
	 }
 
 .data_status a {
	  display: inline-block;
	  border: 1px solid transparent;
	  border-radius: 2px;
	  padding: 1px 4px;
	  margin: 0 2px;
	 }
 .data_status a:hover {
	  border-color: #bbb;
	 }
 .data_clearTodos a:hover {
	  text-decoration-line: underline;
	 }
 .active {
	  box-shadow: 0 0 1px black;
	 }